.card-header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .card-header-left {
    h1 {
      color: #000;
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
    }
  }
  .card-header-right {
    cursor: pointer;
    display: flex;
    gap: 20px;
    li {
      &:hover {
        color: red;
      }
    }
  }
}
